
.gray_background{
    -fx-background-color: #e6e6e6;
}

.light_gray_background_border{
    -fx-background-color: #e6e6e6;
    -fx-border-color: #bfbfbf;
    -fx-border-thickness: 2;
}

.mid_border{
    /*-fx-border-color: #dbdbdb;*/
    -fx-border-color: transparent;
    -fx-border-thickness: 2;
}

.border_right_only{
    -fx-border-right: #bfbfbf;
    -fx-border-thickness: 2;
    border-right: #bfbfbf;
}

.translate_y_4{
    -fx-translate-y: 4;
}

.translate_y_neg_4{
    -fx-translate-y: -4;
}

.translate_y_8{
    -fx-translate-y: 8;
}

.spacing_15{
    -fx-spacing: 15;
}

.spacing_2{
    -fx-spacing: 2;
}

.bold_text{
    -fx-font-weight: bold;
}

.tex_mod_config_field_font{
    -fx-font-size: 10px;
}

.font_18_px{
    -fx-font-size: 18px;
}

.font_12_pt{
    -fx-font-size: 12pt;
}

.font_14_pt{
    -fx-font-size: 16pt;
}

.text_align_right{
    -fx-text-alignment:right;
    text-align: right;
}

.green_text{
    -fx-font-color: #009933;
    -fx-text-fill: #009933;
}

.yellow_text{
    -fx-font-color: #a99600;
    -fx-text-fill: #a99600;
}

.red_text{
    -fx-font-color: #b30000;
    -fx-text-fill: #b30000;
}

.text_field{
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.text_field:invalid_input{
    -fx-text-box-border: #b30000;
    -fx-focus-color: red;
    -fx-text-fill: #b30000;
}

.dialog_buttons_pane{
    -fx-alignment:BOTTOM_RIGHT;
    -fx-padding: 20 0 0 0;
    -fx-translate-y: 10;
    -fx-translate-x: -10;
}

.dialog_buttons_pane_centered{
    -fx-alignment:BOTTOM_CENTER;
    -fx-padding: 20 0 0 0;
}

.console_text{
    -fx-text-fill: #666666;
    -fx-control-inner-background: white;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.console_text:focused{
    -fx-text-box-border: rgb(221, 221, 221);
    -fx-focus-color: rgb(221, 221, 221);
}

.settings_title{
    -fx-font-size: 16pt;
    -fx-translate-y: 5;
}

.settings_text_field_generic{
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.settings_text_field_generic:invalid_input{
    -fx-text-box-border: #b30000;
    -fx-focus-color: red;
    -fx-text-fill: #b30000;
}

.settings_text_field{
    -fx-max-width: 50px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.settings_text_field:invalid_input{
    -fx-text-box-border: #b30000;
    -fx-focus-color: red;
    -fx-text-fill: #b30000;
}

.settings_small_text_field{
    -fx-max-width: 35px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.settings_small_text_field:invalid_input{
    -fx-text-box-border: #b30000;
    -fx-focus-color: red;
    -fx-text-fill: #b30000;
}

.settings_med_text_field{
    -fx-max-width: 60px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: true;
}

.settings_med_text_field:invalid_input{
    -fx-text-box-border: #b30000;
    -fx-focus-color: red;
    -fx-text-fill: #b30000;
}

.keybind_text_field{
    -fx-max-width: 100px;
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: dodgerblue;
    -fx-highlight-text-fill: white;
    -fx-display-caret: false;
    -fx-alignment: center;
    -fx-text-box-border: rgb(221, 221, 221);
	-fx-focus-color: gray;
	-fx-faint-focus-color: transparent;
}

.settings_pane{
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 4;
}

.tex_mod_pane{
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 4;
    -fx-background-color: transparent;
    -fx-border-width: 1.0;
    -fx-border-color: rgb(209, 209, 209);
}

.tex_mod_pane:hover{
    -fx-alignment: CENTER_LEFT;
    -fx-hgap: 4;
    -fx-background-color: rgb(237, 237, 237);
    -fx-border-color: rgb(173, 173, 173);
}

.keybinds_pane{
    -fx-alignment: CENTER_RIGHT;
    -fx-hgap: 4;
}